
// NOTE: Compile with RC.EXE to produce updated Resources.res file.
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
1               ICON                    "AlgorithmTemplate.ico"
