@*******************************************************************************************************
//  GenerateProject.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/15/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using openECAClient
@using openECAClient.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Settings";
}
@section StyleSheets {
    @Raw(ViewBag.PageStyleSheets.ToString())
}
<div class="row">
    <div class="col-md-4">
        <label for="connection">Connection String:</label>
        <input class="form-control" type="text" id="connection">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="directory">Default File Directory:</label>
        <div class="input-group">
            <input class="form-control" type="text" id="directory" />
            <span class="input-group-btn">
                <button type="button" id="showSelectFolder" class="btn btn-default" data-toggle="modal" data-target="#directoryBrowser"  hub-dependent><span class="glyphicon glyphicon-option-horizontal"></span></button>
            </span>
        </div>
    </div>
</div>

<br/>
<br/>

<div class="row">
    <div class="col-md-12">
        <input class="btn btn-primary" type="button" id="update" onclick="updateSettings()" value="Update Settings"/>
    </div>
</div>

<div id="directoryBrowser" class="modal fade" role="dialog">
    <div class="modal-vertical-align-container">
        <div class="modal-dialog modal-md modal-vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Folder</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="table-cell-hard-wrap" data-bind="text: currentFolder"></span>
                            <ul class="directoryListing" data-bind="foreach: folders" size="15">
                                <li><a href="#" data-bind="text: $data, click: $root.currentFolder.bind($($element).text())"></a></li>
                            </ul>
                            Folders: <span data-bind="text: recordCount">calculating...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="selectFolder" hub-dependent>Select</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Include("DirectoryBrowser.cshtml")

@section Scripts {

@Raw(ViewBag.PageControlScripts.ToString())

    <script>
        var re = /^[A-Za-z_][\w]*$/;
        var reipaddresswport = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]):[0-9]+$/;
        var rehostname = /^http:\/\/(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9]):[0-9]+$/;
        var relinuxpath = /^(\/[^/ ]*)+\/?$/;
        var rewinpath = /^(?:[\w]\:|\\)(\\[\w\-\s\.]+)+$/;

        $(function () {
            $('#update').attr('disabled', 'disabled');

            $('#connection').on('keyup', function (e) {
                if (reipaddresswport.test($('#connection').val()) || rehostname.test($('#connection').val())) {
                    $('#connection').css('border-color', '');
                    if ((reipaddresswport.test($('#connection').val()) || rehostname.test($('#connection').val())) && (relinuxpath.test($('#directory').val()) || rewinpath.test($('#directory').val())))
                        $('#update').removeAttr('disabled');
                }
                else {
                    $('#connection').css('border-color', 'red');
                    $('#update').attr('disabled', 'disabled');
                }
            });

            $('#directory').on('keyup', function (e) {
                if (relinuxpath.test($('#directory').val()) || rewinpath.test($('#directory').val())) {
                    $('#directory').css('border-color', '');
                    if ((reipaddresswport.test($('#connection').val()) || rehostname.test($('#connection').val())) && (relinuxpath.test($('#directory').val()) || rewinpath.test($('#directory').val())))
                        $('#update').removeAttr('disabled');
                }
                else {
                    $('#directory').css('border-color', 'red');
                    $('#update').attr('disabled', 'disabled');
                }
            });


        });
        
        function updateSettings() {
            console.log($('#connection').val());
            console.log($('#directory').val());

        }
</script>
}
