@*******************************************************************************************************
//  UserDefinedTypes.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/15/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@*@using System
@using System.Collections.Generic
@using System.Data
@using GSF
@using GSF.Data
@using GSF.Identity
@using GSF.IO
@using GSF.Reflection
@using GSF.TimeSeries
@using GSF.TimeSeries.Transport
@using Newtonsoft.Json*@
@using openECAClient
@using openECAClient.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Manage Data Structures";

}
@section StyleSheets{
    <style>
        .row {
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>
}
<div id="typeident" class="row">
    <div class="col-md-2">
        <label for="namespace">Namespace:</label>
        <input class="form-control" title="Must begin with a letter or an underscore and consist of only letters digits and underscores." type="text" id="namespace" value="@Model.Global.CompanyAcronym">
    </div>
    <div class="col-md-2">
        <label for="identifier">Type Identifier:</label>
        <input class="form-control" title="Must begin with a letter or an underscore and consist of only letters digits and underscores." type="text" id="identifier">
    </div>

</div>

<div class="row">
    <div class="col-md-2">
        <label for="types">Types:</label>
        <select class="form-control" id="types"></select>
    </div>
    <div class="col-md-1">
        <label for="isarray">Is Array:</label><br/>
        <input type="checkbox" class="checkbox " id="isarray"/>
    </div>

    <div class="col-md-2">
        <label for="fieldidentifier">Field Identifier:</label>
        <input class="form-control" title="Must begin with a letter or an underscore and consist of only letters digits and underscores." type="text" id="fieldidentifier"/>
    </div>
    <div class="col-md-1">
        <br/>
        <input class="btn btn-primary" type="button" id="addnewfield" value="Add Field"/>
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <label for="fields">Fields:</label>
        <div class="well" id="fieldwell">
            <ul class="list-group" id="fields"></ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input class="btn btn-primary" type="button" id="addnewtype" value="Save"/>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <label for="userdefinedtypes">User Defined Types:</label>
        <table class="table" id="userdefinedtypes">
            <thead>
            <tr><th>Category</th><th>Identifier</th><th>Fields</th><th></th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



@section Scripts {
    <script>
        var fieldsToAdd = [];
        var udts = [];
        var affectedUDTs = [];
        var updateArray = [];
        var re = /^[A-Za-z_][A-Za-z_0-9]*$/;

        $(function () {
            $('#addnewtype').attr('disabled', 'disabled');
            $('#addnewfield').attr('disabled', 'disabled');
            $(window).bind('beforeunload', function (event) {
                var flag = false;
                $.each($('input[type=text]'), function (i, d) {
                    if ($(d).val() != '')
                        flag = true;
                });
                if (fieldsToAdd.length > 0)
                    flag = true;

                if (flag) {
                    return "There is unsaved data on this page.  If you were editing a type and leave now the changes will be lost.";
                }

                return undefined;
            });

            
            //$(document).keyup(function () { InputValidation() });
            

            $(window).on("hubConnected", function (event) {
                GetData();
            });
            

            $('#namespace').on('keyup', function (e) {
                if (re.test($('#namespace').val())) {
                    $('#namespace').css('border-color', '');
                    if(re.test($('#identifier').val()) && fieldsToAdd.length > 0)
                        $('#addnewtype').removeAttr('disabled');
                }
                else {
                    $('#namespace').css('border-color', 'red');
                    $('#addnewtype').attr('disabled', 'disabled');
                }
            });
            
            $('#identifier').on('keyup', function (e) {
                if (re.test($('#identifier').val())) {
                    $('#identifier').css('border-color', '');
                    if (re.test($('#namespace').val()) && fieldsToAdd.length > 0)
                        $('#addnewtype').removeAttr('disabled');
                }
                else {
                    $('#identifier').css('border-color', 'red');
                    $('#addnewtype').attr('disabled', 'disabled');
                }
            });



            $('#fieldidentifier').on('keyup', function (e) {
                if (re.test($('#fieldidentifier').val())) {
                    $('#fieldidentifier').css('border-color', '');
                    $('#addnewfield').removeAttr('disabled');
                }
                else {
                    $('#fieldidentifier').css('border-color', 'red');
                    $('#addnewfield').attr('disabled', 'disabled');
                }
            });
            
            $('#addnewfield').on('click', function (event) {
                if ($('#fieldidentifier').val() != '') {
                    var flag = false;
                    $.each(fieldsToAdd, function (i, d) {
                        if (d.Identifier.toLowerCase() == $('#fieldidentifier').val().toLowerCase())
                            flag = true;
                    });
                    if (!flag) {
                        var vals = $('#types').val().split('~');
                        var isArray = "";
                        if ($('#isarray').is(':checked'))
                            isArray = "[]";
                        fieldsToAdd.push({ 'Type': { 'Category': vals[0], 'Identifier': vals[1] + isArray, 'IsArray': isArray, 'IsUserDefined': vals[3] }, 'Identifier': $('#fieldidentifier').val() });

                    } else
                        alert("Please use a unique Field Identifier!");

                    UpdateFieldList();
                    $('#fieldidentifier').val("");
                    $('#addnewfield').attr('disabled', 'disabled');
                    if(re.test($('#identifier').val()) && re.test($('#namespace').val()))
                        $('#addnewtype').removeAttr('disabled');

                   
                }else
                    FieldValidation();
            });
            
            $('#addnewtype').on('click', function (event) {
                
                var flag = false;
                $.each(udts, function (i, d) {
                    if (d.Category.toLowerCase() == $('#namespace').val().toLowerCase() && d.Identifier.toLowerCase() == $('#identifier').val().toLowerCase())
                        flag = true;
                });
                if (flag)
                    alert("Please use a unique Namespace and/or Type Identifier!");
                    
                if ($('#namespace').val() != '' && $('#identifier').val() != '' && fieldsToAdd.length != 0 && !flag) {
                    var newType = { 'Category': $('#namespace').val(), 'Identifier': $('#identifier').val(), 'Fields': [] };
                    $.each(fieldsToAdd, function (i, d) {
                        newType.Fields.push(d);
                    });
                    dataHub.addUDT(newType).done(function () {
                        //if (updateArray.length > 0) {
                        //}
                        $.each(updateArray, function (i, d) {
                            console.log(d);

                        });

                        ZeroFields();
                        GetData();
                    });

                }
                TypeValidation();
            });
        });
    
        
        // Function that will get and show data
        function GetData() {
            udts = [];
            $('#userdefinedtypes tbody').empty();
            $('#types').empty();

            dataHub.getDefinedTypes().done(function (data) {
                //console.log(data);
                $.each(data, function (i, d) {
                    $('#types').append($('<option />').val(d.Category + '~' + d.Identifier + '~' + d.IsArray + '~' + d.IsUserDefined).text(d.Category + ' ' + d.Identifier));
                    if (d.IsUserDefined) {
                        var fieldsString = "";
                        for (var j = 0; j < d.Fields.length; ++j) {
                            fieldsString += d.Fields[j].Type["Category"] + ' ' + d.Fields[j].Type["Identifier"] + ' ' + d.Fields[j].Identifier;
                            if (j < d.Fields.length - 1)
                                fieldsString += ', ';
                        }
                        udts.push(d);
                        $('#userdefinedtypes tbody').append($('<tr><td>' + d.Category + '</td><td>' + d.Identifier + '</td><td>' + fieldsString + '</td><td><button id="updatebtn' + i + '"class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button><button id="btn' + i + '"class="btn btn-link"><span class="glyphicon glyphicon-remove-sign"></span></button></td></tr>'));
                        $('#btn' + i).on('click', function (e) {
                            RemoveItem(d);
                        });
                        $('#updatebtn' + i).on('click', function (e) {
                            UpdateItem(d);
                        });
                    }
                });
            });

        }

        // Function that repopulates field list
        function UpdateFieldList() {
            $('#fields').empty();
            $.each(fieldsToAdd, function (i, data) {
                $('#fields').append($('<li class="list-group-item"><button class="btn btn-link" onclick="RemoveListItem('+ i+')"><span class="glyphicon glyphicon-remove-sign"></span></button>' +data.Type.Category+ ' ' + data.Type.Identifier + ' ' + data.Identifier + '</li>'));
            });
        }

        // Function called when a remove button is pressed in the field list
        function RemoveListItem(index) {
            fieldsToAdd.splice(index, 1);
            UpdateFieldList();
        }

        var deletingUDTlist;
        // Function called when a remove button is pressed in the User Defined Types list
        function RemoveItem(data) {
            var flag = confirm("You are about to delete Your defined type and all defined types and mappings derived from it. Are you sure??")
            if(flag)
                CheckUDT(data);

        }

        // Function called when an update button is pressed in the User Defined Types list
        function UpdateItem(data) {
            var flag = confirm("To edit this defined type you will have to delete all defined types and mappings derived from it. Are you sure??")
            if (!flag)
                return;

            updateArray = [];
            CheckUDTForUpdate(data);


            //for (var i = 0; i < udts.length; ++i) {
            //    if (udts[i].Category == data.Category && udts[i].Identifier == data.Identifier)
            //        udts.splice(i, 1);
            //}

            fieldsToAdd = [];
            $.each(data.Fields, function (i, d) {
                fieldsToAdd.push(d);
            });

            UpdateFieldList();
            $('#namespace').val(data.Category);
            $('#identifier').val(data.Identifier);
            $('#addnewtype').removeAttr('disabled');

        }
        
        // Functions that validates that the input fields have text
        function TypeValidation() {
            var alerts = 0;
            $.each($('#typeident input[type=text]'), function (i, d) {
                if ($(d).val() == '') {
                    $(d).css('border-color', 'red');
                    ++alerts;
                }
                else
                    $(d).css('border-color', '');
            });
            
            if(fieldsToAdd.length == 0){
                $('#fieldwell').css('border-color', 'red');
                ++alerts;
            }
            else
                $('#fieldwell').css('border-color', '');
            
            if (alerts > 0)
                alert("Missing data, Please enter data in the highlighted fields before proceeding!");
        }
        
        function FieldValidation() {
            var alerts = 0;
            if ($('#fieldidentifier').val() == '') {
                $('#fieldidentifier').css('border-color', 'red');
                ++alerts;
            }else
                $('#fieldidentifier').css('border-color', '');

            if (alerts > 0)
                alert("Missing data, Please enter a field name before trying to add a field!");
        }
        

        //function CheckMappings(data) {
        //    for (var i = 0; i < mappings.length; ++i) {
        //        if (data.Category.toLowerCase() == mappings[i].Type.Category.toLowerCase() && data.Identifier.toLowerCase() == mappings[i].Type.Identifier.toLowerCase()) {
        //                dataHub.removeMapping(mappings[i]);
        //        }
        //    }
        //    dataHub.getMappings(data).done(function (object) {
        //        if (object.length == 0)
        //            $(window).trigger("mappingsComplete");

        //        $.each(object, function (i, d) {
        //            dataHub.removeMapping(d).done(function () {
        //                if(i == object.length - 1)
        //                    $(window).trigger("mappingsComplete");
        //            });
        //        });
        //    });
        //}

        function CheckUDT(data) {
            dataHub.getEnumeratedReferenceTypes(data).done(function (objects) {
                //console.log(objects);
                var uniqueArray = [];
                objects.reverse();

                for (var i = 0 ; i < objects.length ; ++i) {
                    if (uniqueArray.indexOf(objects[i].Category + ' ' + objects[i].Identifier) == -1)
                        uniqueArray.push(objects[i].Category + ' ' + objects[i].Identifier);
                    else
                        objects.splice(i, 1);
                }
 
                $.each(objects, function(i,d){
                    //console.log("Deleting " + d.Identifier)
                    dataHub.getMappings(d).done(function (mappings) {
                        if (mappings.length == 0) {
                            if (i == objects.length - 1)
                                dataHub.removeUDT(d).done(function () { GetData(); });
                            else
                                dataHub.removeUDT(d);
                        }
                        $.each(mappings, function (j, map) {
                            dataHub.removeMapping(map).done(function () {
                                if (i == objects.length - 1)
                                    dataHub.removeUDT(d).done(function () { GetData(); });
                                else
                                    dataHub.removeUDT(d);

                            });
                        });
                    });

                });
                
            });

        }

        function CheckUDTForUpdate(data) {
            dataHub.getEnumeratedReferenceTypes(data).done(function (objects) {
                //console.log(objects);
                var uniqueArray = [];
                objects.reverse();

                for (var i = 0 ; i < objects.length ; ++i) {
                    if (uniqueArray.indexOf(objects[i].Category + ' ' + objects[i].Identifier) == -1)
                        uniqueArray.push(objects[i].Category + ' ' + objects[i].Identifier);
                    else
                        objects.splice(i, 1);
                }

                //for (var i = 0; i < objects.length; ){

                //}

                $.each(objects, function (i, d) {
                    //console.log("Deleting " + d.Identifier)
                    dataHub.getMappings(d).done(function (mappings) {
                        if (mappings.length == 0) {
                            if (i == objects.length - 1)
                                dataHub.removeUDT(d).done(function () { GetData(); });
                            else
                                dataHub.removeUDT(d);
                        }
                        $.each(mappings, function (j, map) {
                            dataHub.removeMapping(map).done(function () {
                                if (i == objects.length - 1)
                                    dataHub.removeUDT(d).done(function () { GetData(); });
                                else
                                    dataHub.removeUDT(d);

                            });
                        });
                    });

                });

            });

        }

        
        function ZeroFields() {
            fieldsToAdd = [];
            $('#namespace').val("");
            $('#identifier').val("");
            $('#fields').empty();
            $('#fieldidentifier').val("");
            $('#addnewtype').attr('disabled', 'disabled');

        }

    </script>
}
