@*******************************************************************************************************
    //  GraphMeasurements.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
    //  file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  01/15/2016 - J. Ritchie Carroll
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@*@using System
@using System.Collections.Generic
@using System.Data
@using GSF
@using GSF.Data
@using GSF.Identity
@using GSF.IO
@using GSF.Reflection
@using GSF.TimeSeries
@using GSF.TimeSeries.Transport
@using Newtonsoft.Json*@
@using openECAClient
@using openECAClient.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Graph Measurements";
}
@section StyleSheets {
    <style>
    </style>
}
<div class="row">
    <div class="col-md-2" >
        <div >
            <table id="checklist" border="1" style="width: 100%">
                
                <tr>
                    <th>Stream</th>
                    <th>Signal</th>
                </tr>
            </table>
        </div>
        <button class="btn btn-primary" onclick="updateFilter()">Update</button>
    </div>
    <div class="col-md-10">
        <div id="placeholder" style="width: 100%;height: 500px"></div>
        <div id="legend" style="border: 1px solid black;"></div>
    </div>

</div>
@section Scripts {
    <script src="~Scripts/flot/jquery.flot.js"></script>
    <script src="~Scripts/flot/jquery.flot.crosshair.js"></script>
    <script src="~Scripts/flot/jquery.flot.navigate.js"></script>
    <script src="~Scripts/flot/jquery.flot.resize.js"></script>
    <script src="~Scripts/flot/jquery.flot.selection.js"></script>
    <script src="~Scripts/flot/jquery.flot.time.js"></script>
    <script src="~Scripts/flot/jquery.flot.axislabels.js"></script>

    <script>    
        var plot;
        var updateInterval = 250;
        var plotData = [];
        var deviceData = [];
        var measurementDetails = [];

        $(function () {
           

            $(window).on("hubConnected", function (event) {
                
                setTimeout(function () {
                    dataHub.getDeviceDetails().done(function (data) {
                        deviceData = data;
                    });

                    dataHub.getMeasurementDetails().done(function (data) {
                        measurementDetails = data;
                        $.each(data, function (i, md) {
                            if (md.ID.includes("PPA") && md.SignalAcronym != "DIGI" && md.SignalAcronym != "FLAG") {
                                $('#checklist').append('<tr><td><label class="checkbox-inline"><input type="checkbox" id="cb' + md.ID +'" value="' + md.ID + '">'+ md.SignalReference + '</td><td>' + md.SignalAcronym + '</td></tr>');
                                //$('<input />', { type: 'checkbox', id: 'cb' + md.ID, value: md.ID }).appendTo(checklist);
                                //$('<label />', { 'for': 'cb' + md.ID, text: md.SignalReference +  ' - ' + md.SignalAcronym }).appendTo(checklist);
                                //$('<br/>').appendTo(checklist);
                                var yaxisNum = 1;
                                if (md.SignalAcronym == "VPHM") yaxisNum = 2;
                                else if (md.SignalAcronym == "IPHM") yaxisNum = 3;
                                else if (md.SignalAcronym.includes("A")) yaxisNum = 4;


                                plotData.push({ label: md.SignalID, yaxis: yaxisNum, data: [] });
                            }
                                
                        });
                        dataHub.getMeasurements().done(function (data) {

                            $.each(data, function (i, d) {
                                for (var j in plotData) {
                                    if (plotData[j].label == d.ID) {
                                        plotData[j].data.push([d.Timestamp, d.Value]);
                                    }
                                }
                            });
                            

                            plot = $.plot("#placeholder", plotData, {
                                series: {
                                    shadowSize: 0
                                },
                                yaxes: [{
                                        show: true,
                                        position: "left",
                                        axisLabel: "Frequency"
                                    },{
                                        show: true,
                                        position: "left",
                                        axisLabel: "Voltage"
                                    }, {
                                        show: true,
                                        position: "right",
                                        axisLabel: "Current"
                                    }, {
                                        show: true,
                                        position: "right",
                                        axisLabel: "Angle"
                                    }
                                   
                                ],
                                xaxis: {
                                    mode: "time",
                                    timeformat: "%H:%M:%S",
                                    timezone: "browser"
                                },
                                legend: {
                                    container: $('#legend'),
                                    labelFormatter: function (label, series) {
                                        for (var i in measurementDetails)
                                        {
                                            if (measurementDetails[i].SignalID == label)
                                                return measurementDetails[i].SignalReference + "   ";
                                        }
                                       
                                    },
                                    noColumns: 5,
                                    margin: 5
                                }
                            });
                            update();
                        });
                    });
                    
                   
                }, 2000);
                
                
                
                    
            }); 

            function update() {
                dataHub.getMeasurements().done(function (data) {
                    
                    $.each(data, function (i, d) {
                        for (var j in plotData) {
                            if (plotData[j].label == d.ID) {
                                plotData[j].data.push([d.Timestamp, d.Value]);
                            }
                        }
                    });
                    
                    for (var i = 0; i < plotData.length; ++ i) {
                        //console.log(plotData[i].data);
                        var num = (plotData[i].data.length - 200)
                        for (var j = 0; j <  num; ++j)
                            plotData[i].data.shift()

                    }

                    plot.setData(plotData);
                    plot.setupGrid()
                    plot.draw();
                    setTimeout(update, updateInterval);
                });
               
            }

            $(window).unload(function () {
                var filterStr = "";


                for (var i = 0; i < plotData.length; ++i) {
                    plotData[i].data = [];

                }

                dataHub.updateFilters(filterStr);
                plot.setData(plotData);
                plot.setupGrid()
                plot.draw();
            });

        });

        function updateFilter() {
            var filterStr = "";

          
            for (var i = 0; i < plotData.length; ++i) {
                plotData[i].data = [];

           }
           
           

            $('input[type=checkbox]').each(function () {
                if (this.checked == true) 
                    filterStr += this.value + ";";


            });
            dataHub.updateFilters(filterStr);
            plot.setData(plotData);
            plot.setupGrid()
            plot.draw();
            
           
        }
    </script>
}
