@*******************************************************************************************************
    //  GraphMeasurements.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
    //  file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  01/15/2016 - J. Ritchie Carroll
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@*@using System
@using System.Collections.Generic
@using System.Data
@using GSF
@using GSF.Data
@using GSF.Identity
@using GSF.IO
@using GSF.Reflection
@using GSF.TimeSeries
@using GSF.TimeSeries.Transport
@using Newtonsoft.Json*@
@using openECAClient
@using openECAClient.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Graph Measurements";
}
@section StyleSheets {
    <style>
        label {
    display: inline-block;
    width: 5em;
  }
         
    </style>
}
<div class="row">
    <div class="col-md-3">
        <button class="btn btn-primary" onclick="updateFilter()">Update</button>
        <button class="btn btn-primary" onclick="resetFilter()">Reset</button>
        <br/>
        <div id="devicelist" style="overflow: scroll; height: 500px">
        </div>

    </div>
    <div class="col-md-9">
        <div id="placeholder" style="width: 100%;height: 500px"></div>
        <div id="legend" style="border: 1px solid black;"></div>
    </div>

</div>
@section Scripts {
    <script src="~Scripts/flot/jquery.flot.js"></script>
    <script src="~Scripts/flot/jquery.flot.crosshair.js"></script>
    <script src="~Scripts/flot/jquery.flot.navigate.js"></script>
    <script src="~Scripts/flot/jquery.flot.resize.js"></script>
    <script src="~Scripts/flot/jquery.flot.selection.js"></script>
    <script src="~Scripts/flot/jquery.flot.time.js"></script>
    <script src="~Scripts/flot/jquery.flot.axislabels.js"></script>

    <script>    
        var plot;
        var updateInterval = 250;
        var plotData = [];
        var plotDataTemplate = [];
        var deviceData = [];
        var measurementDetails = [];

        $(function () {



            $(window).on("hubConnected", function (event) {
                
                setTimeout(function () {
                    dataHub.getDeviceDetails().done(function (data) {
                        deviceData = data;
                        deviceData.sort(function (a, b) {
                            if (a.Acronym > b.Acronym) return 1;
                            if (a.Acronym < b.Acronym) return -1;
                            
                            return 0;
                        });
                        $.each(deviceData, function (key, dd) {
                            var acronym = dd.Acronym.replace(/!/g, "-");
                            
                            console.log(dd);
                            if(dd.Enabled == true)
                                $('#devicelist').append('<div class="container"><button class="btn btn-link" title="'+ dd.Name + '" data-toggle="collapse" data-target="#dd' + acronym + '">' + acronym + '</button><div id="dd' + acronym + '" class="collapse"><table style="width:15%" id="tb' + acronym + '" border="1" ><th>ID</th><th>Stream</th><th>Signal</th></table></div>');

                        });

                    });

                    dataHub.getMeasurementDetails().done(function (data) {
                        measurementDetails = data;
                        measurementDetails.sort(function (a, b) {
                            if (a.ID > b.ID) return 1;
                            if (a.ID < b.ID) return -1;

                            return 0;
                        });
                        $.each(measurementDetails, function (i, md) {
                            
                            if (!md.ID.includes("STAT") && md.SignalAcronym != "DIGI" && md.SignalAcronym != "FLAG" && md.SignalAcronym != "QUAL" && md.SignalAcronym != "STAT" && md.SignalAcronym != "ALOG") {
                                var acronym = md.DeviceAcronym.replace(/!/g, "-");
                                var sigref = md.SignalReference.replace(/!/g, "-");
                                sigref = sigref.replace(acronym + "-", "");
                                var id = md.ID.split(":")[1];
                               
                                $('#tb' + acronym).append('<tr title="'+md.Description+'"><td nowrap><label class="checkbox-inline"><input type="checkbox" id="cb' + md.ID +'" value="' + md.ID + '#' + md.SignalID + '">'+ id + '</td><td>' + sigref+'</td><td>' + md.SignalAcronym + '</td></tr>');
                                //$('<input />', { type: 'checkbox', id: 'cb' + md.ID, value: md.ID }).appendTo(checklist);
                                //$('<label />', { 'for': 'cb' + md.ID, text: md.SignalReference +  ' - ' + md.SignalAcronym }).appendTo(checklist);
                                //$('<br/>').appendTo(checklist);
                                var yaxisNum = 1;
                                if (md.SignalAcronym == "VPHM") yaxisNum = 2;
                                else if (md.SignalAcronym == "IPHM") yaxisNum = 3;
                                else if (md.SignalAcronym.includes("A")) yaxisNum = 4;


                                plotDataTemplate.push({ label: md.SignalID, yaxis: yaxisNum, data: [] });
                            }
                                
                        });
                        
                        $('#devicelist').tooltip();

                        dataHub.getMeasurements().done(function (data) {

                            $.each(data, function (i, d) {
                                for (var j in plotData) {
                                    if (plotData[j].label == d.ID) {
                                        plotData[j].data.push([d.Timestamp, d.Value]);
                                    }
                                }
                            });
                            

                            plot = $.plot("#placeholder", plotData, {
                                series: {
                                    shadowSize: 0
                                },
                                yaxes: [{
                                        show: true,
                                        position: "left",
                                        axisLabel: "Frequency"
                                    },{
                                        show: true,
                                        position: "left",
                                        axisLabel: "Voltage"
                                    }, {
                                        show: true,
                                        position: "right",
                                        axisLabel: "Current"
                                    }, {
                                        show: true,
                                        position: "right",
                                        axisLabel: "Angle"
                                    }
                                   
                                ],
                                xaxis: {
                                    mode: "time",
                                    timeformat: "%H:%M:%S",
                                    timezone: "browser"
                                },
                                legend: {
                                    show: true,
                                    container: $('#legend'),
                                    labelFormatter: function (label, series) {
                                        for (var i in measurementDetails)
                                        {
                                            if (measurementDetails[i].SignalID == label)
                                                return measurementDetails[i].SignalReference.split("!")[measurementDetails[i].SignalReference.split("!").length - 1] + " - " + measurementDetails[i].SignalAcronym;
                                        }
                                       
                                    },
                                    noColumns: 1,
                                    margin: 5
                                }
                            });
                            update();
                        });
                    });
                    
                   
                }, 2000);
 
                    
            }); 

            function update() {
                dataHub.getMeasurements().done(function (data) {
                    
                    $.each(data, function (i, d) {
                        for (var j in plotData) {
                            if (plotData[j].label == d.ID) {
                                plotData[j].data.push([d.Timestamp, d.Value]);
                            }
                        }
                    });
                    
                    for (var i = 0; i < plotData.length; ++ i) {
                        var num = (plotData[i].data.length - 200)
                        for (var j = 0; j <  num; ++j)
                            plotData[i].data.shift()

                    }

                    plot.setData(plotData);
                    plot.setupGrid()
                    plot.draw();
                    setTimeout(update, updateInterval);
                });
               
            }

            $(window).unload(function () {
                var filterStr = "";


                plotData = [];

                dataHub.updateFilters(filterStr);
                plot.setData(plotData);
                plot.setupGrid()
                plot.draw();
            });

        });

        function updateFilter() {
            var filterStr = "";

          
            plotData = [];
           
           

            $('input[type=checkbox]').each(function () {
                var arr = this.value.split('#');
                if (this.checked == true) {
                    filterStr += arr[0] + ";";
                    for (var i in plotDataTemplate) {
                        if (plotDataTemplate[i].label == arr[1])
                            plotData.push(plotDataTemplate[i]);

                    }
                }


            });
            dataHub.updateFilters(filterStr);
            plot.setData(plotData);
            plot.setupGrid()
            plot.draw();
            
           
        }
        
        function resetFilter() {
            var filterStr = "";


            for (var i = 0; i < plotData.length; ++i) {
                plotData[i].data = [];

            }



            $('input[type=checkbox]').each(function () {
                if (this.checked == true)
                    this.checked = false;


            });
            dataHub.updateFilters(filterStr);
            plot.setData(plotData);
            plot.setupGrid()
            plot.draw();


        }

    </script>
}
