<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <!-- *** DEBUG OPTIONS - CHANGE FOR PRODUCTION DEPLOYMENT *** -->
      <add name="WebHostURL" value="http://localhost:8990" description="The web hosting URL for user interface operation. For increased security, only bind to localhost." encrypted="false" />
      <add name="WebRootPath" value="..\..\..\..\..\Source\Applications\openECA\openECAClient\wwwroot" description="The root path for the hosted web server files. Location will be relative to install folder if full path is not specified." encrypted="false" />
      <add name="TemplatePath" value="Eval(systemSettings.WebRootPath)" description="Path for data context based razor field templates." encrypted="false" />
      <add name="EmbeddedTemplatePath" value="GSF.Web.Model.Views." description="Embedded name space path for data context based razor field templates." encrypted="false" />
      <add name="ClientCacheEnabled" value="true" description="Determines if cache control is enabled for browser clients." encrypted="false" />
      <add name="DefaultWebPage" value="Index.cshtml" description="The default web page for the hosted web server." encrypted="false" />
      <add name="CompanyName" value="Grid Protection Alliance" description="The name of the company who owns this instance of the openECA." encrypted="false" />
      <add name="CompanyAcronym" value="GPA" description="The acronym representing the company who owns this instance of the openECA." encrypted="false" />
      <add name="DefaultCulture" value="en-US" description="Default culture to use for language, country/region and calendar formats." encrypted="false" />
      <add name="DateFormat" value="MM/dd/yyyy" description="The date format to use when rendering timestamps." encrypted="false" />
      <add name="TimeFormat" value="HH:mm.ss.fff" description="The time format to use when rendering timestamps." encrypted="false" />
      <add name="BootstrapTheme" value="Content/bootstrap-theme.min.css" description="Path to Bootstrap CSS to use for rendering styles." encrypted="false" scope="User" />
      <add name="SubscriptionConnectionString" value="server=172.21.3.16:6190; interface=0.0.0.0" description="Connection string for data subscriptions to openECA server." encrypted="false" scope="User" />
      <add name="DefaultProjectPath" value="openECA Projects" description="Default path on which to store the user's projects." encrypted="false" scope="User" />
    </systemSettings>
    <errorLogger>
      <add name="LogToUI" value="False" description="True if an encountered exception is to be logged to the User Interface; otherwise False." encrypted="false" />
      <add name="LogToFile" value="True" description="True if an encountered exception is to be logged to a file; otherwise False." encrypted="false" />
      <add name="LogToEmail" value="False" description="True if an email is to be sent to ContactEmail with the details of an encountered exception; otherwise False." encrypted="false" />
      <add name="LogToEventLog" value="False" description="True if an encountered exception is to be logged to the Event Log; otherwise False." encrypted="false" />
      <add name="LogToDatabase" value="False" description="True if an encountered exception is logged to the database; otherwise False." encrypted="false" />
      <add name="DatabaseLogSize" value="2000" description="Maximum exception log size to maintain when logging exceptions to the database." encrypted="false" />
      <add name="LogUserInfo" value="False" description="True if user information is to be logged along with exception information; otherwise False." encrypted="false" />
      <add name="SmtpServer" value="localhost" description="Name of the SMTP server to be used for sending the email messages." encrypted="false" />
      <add name="ContactName" value="" description="Name of the person that the end-user can contact when an exception is encountered." encrypted="false" />
      <add name="ContactEmail" value="" description="Comma-separated list of recipient email addresses for the email message." encrypted="false" />
      <add name="ContactPhone" value="" description="Phone number of the person that the end-user can contact when an exception is encountered." encrypted="false" />
      <add name="HandleUnhandledException" value="True" description="True if unhandled exceptions are to be handled automatically; otherwise False." encrypted="false" />
      <add name="ExitOnUnhandledException" value="False" description="True if the application must exit when an unhandled exception is encountered; otherwise False." encrypted="false" />
    </errorLogger>
    <logFile>
      <add name="FileName" value="ErrorLog.txt" description="Name of the log file including its path." encrypted="false" />
      <add name="FileSize" value="3" description="Maximum size of the log file in MB." encrypted="false" />
      <add name="FileFullOperation" value="Truncate" description="Operation (Truncate; Rollover) that is to be performed on the file when it is full." encrypted="false" />
      <add name="LogFilesDuration" value="0" description="Time duration in hours to save the log files,files older than this duration are purged automatically" encrypted="false" />
      <add name="FlushTimerInterval" value="10" description="Number of seconds of inactivity before the log file automatically flushes the file stream." encrypted="false" />
    </logFile>
  </categorizedSettings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>